
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="row aboutus">
        <h1>BİZ KİMİZ?</h1>
        <div class="aboutStory">
            <p>"Çoooook çok önceden insanlar hikayelerini sözlerle anlatırlarmış, sözler aktarıldıkça değişir en sonunda "büyük babam Trex'e kafa atmış, kapışmışlar" haline bürünürmüş. Daha sonra insanlar hikayelerini taşlara çizmeye başlamış. Resimlerle anlatmışlar ama o da kalıcı olmamış, resimleri herkes kendine göre yorumlamış.</p>
            <p>Eski medeniyetler yazıyı keşfetmişler, bu keşiften sonra ilk iş alışveriş listesi oluşturmuşlar ama bunları taş tabletlere kazıyorlarmış. Alışverişi taş tabletlerle yapmak zor oluyormuş. Birisi kağıdı keşfetmiş, hafif daha kalıcı ve kolay. İnsanların bilgi aktarım hızı bilmem kaç katına çıkmış. Medeniyet hızla gelişmeye başlamış.</p>
            <p>Matbaalar bulunmuş artık devir makinelerinmiş, insanlar hikayelerini yazıya döküp makinelere teslim ediyorlarmış? Makinalar gece gündüz çalışıp hikayeleri çoğaltıyormuş. Dünyanın dört bir yanına bu hikayeler ulaşıyormuş.</p>
            <p>Devir gelmiiiiş geçmiş internet çıkmış? Peki insanlar hikayelerini neden burda paylamasınlar ki?"</p>
        </div>
        <p>Bu güzel hikayenin sonunda biz bulunuyoruz, sizin hikayelerinizi alıp dünyanın dört bir yanındaki insanlara ulaştırıyoruz. Bu hikayeler bazen bilimsel, bazen romantik oluyor. Bazen ise yemek tarifi... Yukarıdaki hikaye yazılmaya devam ediyor, bir kısmında bulunduğumuz için mutluyuz, peki siz neden parçası olmayasınız ki?</p>
        <div class="d-grid mt-2">
            <a href="@Url.Action("Login","Home")" class="btn btn-lg btn-dark">Hikayenizi yazmaya başlayın</a>
        </div>
    </div>
</section>

