@model UserVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<section class="container mb-3">
    <div class="row my-4">
        <div class="col-xl-4 mb-3" id="followingTopicsArea">

        </div>
        <div class="col-xl-8" id="followingArticlesArea">

        </div>
    </div>
</section>

<section id="mainContent" class="container py-4">
    <div class="row g-5">
        <div class="col-xl-6" id="mostViewedArticles">
            <div class="mb-1">
                <h4 class="text-center fw-bolder">En Çok Görüntülenen</h4>
            </div>
            <partial name="_MostViewedArticles" model="ViewBag.MostViewed" />
        </div>

        <div class="col-xl-6" id="randomArticles">
            <div class="mb-1">
                <h4 class="text-center fw-bolder">Rastgele Yazılar</h4>
            </div>

            <partial name="_MostViewedArticles" model="ViewBag.RandomArticles" />
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            GetFollowingTopics();
            GetFollowingArticles();
        });

        function GetFollowingTopics() {
            $.ajax({
                url: "/User/GetFollowingTopics/" + @Model.UserId,
                type: "GET",
                success: function (response) {
                    $("#followingTopicsArea").html(response);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        function GetFollowingArticles() {
            $.ajax({
                url: "/User/GetFollowingArticles/" + @Model.UserId,
                type: "GET",
                success: function (response) {
                    $("#followingArticlesArea").html(response);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

    </script>

}